.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.homepage{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    padding: 10px;
    font-size: large;
    font-weight: 500;

    
}
.containe{
    width: 70vw;
    height: 70vh;
    margin: 50px 50px;
  
}
.containe button{
    margin-left: 50vw;
}